@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-hubballi: 'Hubballi';
  --shadow-icon: 0 0 10px 0.2px rgba(204, 204, 204, 0.5);
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-primary: #B2B2B2;
  --color-info: #828282;
  --color-iconcard-gradient-start: #121212;
  --color-iconcard-gradient-hover: #1A1A1A;
  --color-background-image: #1E1E1E;
  --color-button-gradient-to: #C4C4C4;
  --color-button-gradient-to-hover: #C4C4C4;
}

body {
  background-color: #000;
}

.swiper {
  width: 100%;
}

#projects .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 695px !important;
  border-radius: 10px !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonials .swiper-wrapper {
  display: flex !important;
  align-items: center !important;
}

#projects .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #projects .swiper {
    padding: 10px !important;
  }
  #projects .swiper-slide {
    height: 395px !important;
  }
}